body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #e6e8ed;
	color: #666666;
}

.grid-container {
	display: grid;
	grid-template-columns: 190px 1fr 1fr 1fr;
	grid-template-rows: 0.2fr 3fr;
	grid-template-areas: "sidebar header header header" "sidebar main main main";
	height: 100vh;
}

/*---HEADER---*/
.header {
	grid-area: header;
	height: 60px;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px 0 20px;
	box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

/*---SIDEBAR---*/
#sidebar {
	grid-area: sidebar;
	height: 100%;
	background-color: #21232d;
	color: #ffffff;
	overflow-y: auto;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.sidebar-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 20px 20px 20px;
	margin-bottom: 30px;
	
}

.sidebar-title > span {
	display: none;
}

.sidebar-brand {
	margin-top: 15px;
	font-size: 20px;
	font-weight: 700;
}

.sidebar-list {
	padding: 0;
	margin-top: 15px;
	list-style-type: none;
}

.sidebar-list-item {
	padding: 20px 20px 20px 20px;
}
.sidebar-list-item:hover {
	background-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

/*---MAIN---*/
.main-container {
	grid-area: main;
	overflow-y: auto;
	padding: 20px 20px;
}

.main-title {
	display: flex;
	justify-content: space-between;
}

.main-title > p {
	font-size: 20px;
}

.active {
	text-decoration: none;
	color: #ffffff;
}

.search {
	height: 20px;
	width: 40%;
	padding: 6px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
	margin-left: 160px;
}

.body-table{
	box-sizing: border-box;
}
table, th, td {
	border-collapse: collapse;
	padding: 1rem;
}
thead th{
	position: sticky;
	top: 0;
	left: 0;
	background-color: #d5d1defe;
}

tbody tr.hide {
	opacity: 0;
	transform: translate(100%);
}

.body-table, table {
	background-color: #fffff5;
	width: 70vw;
	box-shadow: 0 .4rem .8rem #0005;
	border-radius: .8rem;
	align-items: flex-start;
	justify-content: center;
	overflow: auto;
}


.new {
margin: 20px;
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #5f9ea0;
	border: none;
	border-radius: 5px;
	text-decoration: none;
}

.delete {

	color: white;
	background: red;

}

form {
	width: 30%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #b0c4de;
	background: white;
	border-radius: 0px 0px 10px 10px; 
}
.input-group {
	margin: 10px 0px 10px 0px;
}

.btnregister {
	text-decoration: none;
	color: #000000;
	font-size: 15px;
	border: none;
	border-radius: 5px;
	margin: 30px;

}
.header-right {
	margin: 30px;
}
.btnregister:hover{
	background-color: #5f9ea0;
	color: #ffffff;
}

.btnlogout {
	text-decoration: none;
	color: #000000;
	font-size: 15px;
	border: none;
	border-radius: 5px;
}
.btnlogout:hover{
	background-color: #5f9ea0;
	color: #ffffff;
}


